name: 'Terraform'

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
    terraform:
      name: 'Terraform'
      env:
        #AWS Secrets
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_ID: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}

      runs-on: ubuntu-latest
      environment: production
    
      steps:

        
        # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
        - name: Terraform Init
          uses: hashicorp/terraform-github-actions@master
          with:
            tf_actions_version: 0.15.0
            tf_actions_subcommand: 'init'
            tf_actions_working_dir: '../terraform-manager-infra-main'
            tf_actions_comment: true
        
        - name: Terraform plan
          uses: hashicorp/terraform-github-actions@master
          with:
            tf_actions_version: 0.15.0
            tf_actions_subcommand: 'plan'
            tf_actions_working_dir: '../terraform-manager-infra-main'
            tf_actions_comment: true
        
        # - name: Terraform apply
        #   uses: hashicorp/terraform-github-actions@master
        #   with:
        #         tf_actions_version: 0.15.0
        #         tf_actions_subcommand: 'apply'
        #         tf_actions_working_dir: '.'
        #         tf_actions_comment: true

        # Checkout the repository to the GitHub Actions runner
        - name: Checkout
          uses: actions/checkout@v3